:root {
  --font-color: #000;
  --background-color: #f2f2f2;
  --highlight-color: transparent;
  --select-color: #f2f2f2;
  --select-background-color: #f25b1d;
  --media-rule: 500px;
  --font: 'Arial', sans-serif;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  color: var(--font-color);
  font-family: var(--font);

  appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior: none;
}

*::before,
*::after {
  box-sizing: border-box;
}

::-moz-selection {
  color: var(--background-color);
  background: var(--font-color);
}

::selection {
  color: var(--background-color);
  background: var(--font-color);
}

html,
body {
  height: 100svh;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);

  @media (max-width: 1000px) {
    font-size: 0.8rem;
  }
}

a,
.link-button {
  display: inline-block;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  cursor: pointer;
}

a:active,
.link-button:active {
  background-color: transparent;
}

@media (hover: hover) {
  a:hover,
  .link-button:hover {
    text-decoration: none;
  }
}

header .header-top {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 2px solid var(--font-color);
}

header .header-about {
  padding: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}

th,
td {
  text-align: left;
  padding: 5px;
}

td {
  border: 2px solid var(--font-color);
}

th {
  border: 2px solid var(--font-color);
  /* border: 1px solid var(--background-color);
  background-color: var(--font-color);
  color: var(--background-color); */
}
